pandas==2.2.3
streamlit==1.44.1
plotly==5.24.1
import streamlit as st
import pandas as pd
import plotly.express as px
# --- Configuração da Página ---
# Define o título da página, o ícone e o layout para ocupar a largura inteira.
st.set_page_config(
    page_title="Dashboard de Salários na Área de Dados",
    page_icon="📊",
    layout="wide",
)
# --- Carregamento dos dados ---
df = pd.read_csv("https://raw.githubusercontent.com/vqrca/dashboard_salarios_dados/refs/heads/main/dados-imersao-final.csv")
#Isso é importante para que o site esteja sempre atualizado conforme o github




